.cv-header {
    margin-top: 20px;
}

.my-photo {
    background-image: url("./assets/photo.jpg");

    width: 120px;
    height: 120px;

    border-radius: 100%;

    background-size: 120px;
    background-position-x: center;
    background-repeat: no-repeat;

    float: right;
}

.unwrap {
    padding-left:0 px;
    padding-right: 0px;;
}

@media only screen and (max-width: 767px) {
    .my-photo {
        background-image: url("./assets/myMountains.jpg"); 
        
        width: 100%;
        height: 240px;

        max-width: 512px;

        border-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        
        background-size: 512px;
        background-position-x: center;
        background-position-y: -87px;

        margin:auto;

        float: none;
    }

    .ui.stackable.grid>.row>.wide.column.my-photo__wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media only screen and (max-width: 512px) {
    .my-photo {
        border-radius: 0;
    }
}

.main.container {
    margin-top: 1.2em
}

.experience-header {
    display: inline-block;

    vertical-align: top;

    padding-bottom: 4px;
}

.company .ui.mini.image {
    width: 16px !important;
    height: auto !important;

    margin-right: 4px;
}

.company-name {
    vertical-align: middle;
}

.education-item .content {
    display: inline-block;

    width: calc(100% - 46px);
}

.date, .meta {
    color: #5b5b55;

    font-size: 0.8rem;
}

.footer {
    text-align: center;
    display: block;
}

@media print {
    .ui.grid {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .ui.text.container {
        max-width: initial !important;
    }

    html {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.ui.horizontal.label {
    margin-top: .2em;
}